html {
    font-size: 1rem; /* this is actually the default; 1rem === 1 "root-em", which is normally 16px; this is the root */
    scroll-behavior: smooth; /* newish feature! smooth scroll with no JavaScript! */
}

body {
    box-sizing: border-box; /* now inludes border and padding in box's width and height (best practice)*/
    background-color: antiquewhite;
}

ul {
    padding-inline-start: 0px; /* default on this was 40px, I actually do not know why */
}

/* index.html */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: Georgia;
    color: purple;
    background-color: #202020;
    text-align: center;
}

.content-box {
    padding: 1.5rem;
    margin: auto 10%; /* two values in this instance; first is top/bottom, second is left/right */
    background-color: aliceblue;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 75%;
    padding: 1rem;
    background-color: #303030;
}

.nav-bar .menu-item {
    display: flex;
    padding: 15px;
}

.menu-item a {
    text-decoration: none;
    font-size: 2vh; /* what I did here - not good - usually I use media queries for responsive fonts */
    color: #c0c0c0;
}

.menu-item a:hover {
    color: #ff00ff;
}


.footer {
    display: flex;
    flex-direction: column;
    color: green;
    background-color: #202020;
}

.copyright {
    text-align: center;
}

.copyright a {
    text-decoration: none;
}

.orangered {
    color: orangered;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media tr td {
    padding: 1rem;
}

/* secret.html */

.secret-body {
    background-color: aqua;
}

.secret-container {
    margin: 5%;
}

.secret-inner p {
    padding: 2.5%;
    color:  yellow;
    background-color: purple;
    font-size: 1.6rem;
    text-align: center;
}