body {
    background-color:antiquewhite;
}

.title-bar {
    font-family: Georgia;
    color: purple;
    background-color: #202020;
    text-align: center;
}

.content-box {
    margin-left:10%;
    margin-right:10%;
    background-color: aliceblue;
}

.footer {
    color: green;
    background-color: #202020;
}

.nav-bar ul {
    list-style-type: none;
    background-color: #282828;
}

.nav-bar li {
    margin: 2px;
    padding: 2px;
    background-color: #303030;
    display: inline;
}

.nav-bar a {
    padding:8px;
    text-align: center;
    color: #c0c0c0;
}

.nav-bar a:hover {
    color: #ff00ff;
}

.secret {
    margin: 25%;
}

.secret p {
    color: yellow;
    background-color:purple;
    font-size: x-large;
    text-align: center;
}