html {
    font-size: 1rem; /* this is actually the default; 1rem === 1 "root-em", which is normally 16px; this is the root */
    scroll-behavior: smooth; /* newish feature! smooth scroll with no JavaScript! */
}

body {
    box-sizing: border-box; /* now inludes border and padding in box's width and height (best practice)*/
    background-color: antiquewhite;
}

ul {
    padding-inline-start: 0px; /* default on this was 40px, I actually do not know why */
}

/* index.html */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-family: Georgia, serif;
    color: #800080;
    background-image: linear-gradient(#181818, #202020);
    text-align: center;
}

.header h1 {
    letter-spacing: 0.25rem;
    text-shadow: 0.0625em 0.0625em #404;
    font-variant: small-caps;
    font-size:3em;
}

.content-box {
    padding: 0.5rem 2.0rem;
    background-color: aliceblue;
}

.nav {
    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

.nav-bar {
    display: inline-block;
    justify-content: center;
}

.nav .menu-item {
    display: inline-block;
    margin: 0.125rem;
}

.menu-item a {
    text-decoration: none;
    display: block;
    font-size: 2vh; /* what I did here - not good - usually I use media queries for responsive fonts */
    color: #ccc;
    background-color: #444;
    padding: 0.25rem 0.5rem;
    border: 0.25rem #333;
    border-style: solid;
    border-radius: 0.5rem;
}

.menu-item a:hover {
    color: #f0f;
    background-color: #333;
    border-color: #f0f;
}


.footer {
    display: flex;
    flex-direction: column;
    color: green;
    background-image: linear-gradient(#202020, #181818);
}

.copyright {
    text-align: center;
}

.copyright a {
    text-decoration: none;
}

.orangered {
    color: orangered;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media tr td {
    padding: 1rem;
}

/* secret.html */

.secret-body {
    background-color: aqua;
}

.secret-container {
    margin: 5%;
}

.secret-inner p {
    padding: 2.5%;
    color:  yellow;
    background-color: purple;
    font-size: 1.6rem;
    text-align: center;
}
